# Backend Environment Variables
# Copy this file to .env and fill in your values
# Never commit .env to version control

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/breeze_db

# Security
#SECRET_KEY=your-secret-key-here #Clerk handles this
#ALGORITHM=HS256 #Not used with Clerk
#ACCESS_TOKEN_EXPIRE_MINUTES=30 #Clerk handles this
CLERK_SERCRET_KEY=placeholder

# Environment
ENVIRONMENT=local