# Backend Environment Variables
# Copy this file to .env and fill in your values
# Never commit .env to version control

# Database
DATABASE_URL=postgresql://postgres:BreezeMilos402@db.lnsqsyczyslakefcamxf.supabase.co:5432/postgres

# Security
#SECRET_KEY=your-secret-key-here #Clerk handles this
#ALGORITHM=HS256 #Not used with Clerk
#ACCESS_TOKEN_EXPIRE_MINUTES=30 #Clerk handles this
CLERK_SECRET_KEY=sk_test_XBVunzTI0XtqrJy2fbzTpxWrhacQZCU5r7bH9lrDJU
CLERK_ISSUER_URL=https://amusing-ostrich-38.clerk.accounts.dev

# Environment
ENVIRONMENT=local